# ignore all code files except for my own (allows working directly in a test
#  server install)
*.cs
!DynamicPVP.cs
!KillHeliVote.cs
!MagicTravelingVendorPanel.cs
!PlayerBasePvpZones.cs
!ScarecrowWrangler.cs
!ShareTheRoad.cs
!SuperPVxInfo.cs
!TimedWorkbenchUnlock.cs

/backups/
/bin/
/obj/
/out/
/plantuml/
